# ----- BACKEND
# - General
BACKEND_DJANGO_DEUBG=False
BACKEND_DJANGO_SECRET_KEY="django_key"
BACKEND_DJANGO_ALLOWED_HOSTS="api.dev-peridash"
BACKEND_DJANGO_CORS_WHITELIST="http://api.dev.peridash.com,http://dev.peridash.com"
# - Postgres
BACKEND_POSTGRES_USER=postgres
BACKEND_POSTGRES_PASSWORD="password"
BACKEND_POSTGRES_DB=postgres
BACKEND_POSTGRES_HOSTNAME=db
BACKEND_POSTGRES_PORT=5432
# - memcached
BACKEND_CACHE_HOSTNAME=memcached
BACKEND_CACHE_PORT=11211
# - stocks api
BACKEND_TWELVE_DATA_API_KEY="6cc71c5c23a8491ab6e87389c3cc9f8a"

# ----- FRONTED
NEXT_PUBLIC_BACKEND_URL="http://api.dev.peridash.com"
NEXT_PRIVATE_BACKEND_URL="http://backend.dev-peridash:8000"
# ----- POSTGRES
POSTGRES_USER=postgres
POSTGRES_PASSWORD="password"
POSTGRES_DB=postgres
POSTGRES_HOSTNAME=db
POSTGRES_PORT=5432
# ----- NGINX
NGINX_SERVER_NAME_FRONTEND=dev.peridash.com
NGINX_SERVER_NAME_BACKEND=api.dev.peridash.com
NGINX_FRONTEND_PROXY_PASS_HOSTNAME=frontend.dev-peridash:3000
NGINX_BACKEND_PROXY_PASS_HOSTNAME=backend.dev-peridash:8000
# ----- GLOBAL
GLOBAL_RUN_ENV=dev